.card {
  border: 1px solid rgba(255, 255, 255, 0.655);
  padding: 20px;
  width: 210px;
  border-radius: 40px;
  margin-right: 60px;
  margin-bottom: 30px;

  .plus {
    cursor: pointer;
  }

  &:hover {
    box-shadow: 0px 14px 30px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
  }

  .favorite {
    position: absolute;

    img {
      &:hover {
        cursor: pointer;
      }
    }
  }

  span {
    font-size: 13px;
    opacity: 0.5;
    text-transform: uppercase;

    b {
      font-size: 14px;
    }
  }

  h5 {
    font-size: 14px;
    font-weight: 220px;
  }
}