body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: lightblue
}

* {
  font-family: "Inter", system-ui;
}

.wrapper {
  background-color: white;
  box-shadow: 0px, 10px,20px rgba(0,0,0,0.04);
  border-radius: 20px;
  max-width: 1000px;
  margin: 50px 10px;
  position: relative;
}

.header {
  img{
    margin-left: 15px;
  }
  h3,
  p{
    margin: 0;
  }
}

.content {
  h1{
    margin: 0 ;
  }
}



.button {
  background: #ffff;
  border: 1px solid #f2f2f2;
  box-sizing: border-box;
  border-radius: 8px;
  height: 32px;
  width: 32px;
}

.search-block {
  border: 1px solid #f3f3f3;
  border-radius: 10px;
  padding: 0 13px;
   input{
     border: 0;
     padding: 10px;
     font-size: 16px;
     width: 200px;
   }
}

.drawer{
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 420px;
  height: 100%;
  right: 0;
  background: #ffff;
  box-shadow: -10px,4px,24px rgba(0,0,0,0.1);
  padding: 30px;
    h2{
      margin: 0;

    }
    .items{
      overflow: auto;
    }
}

.overlay{
  position: absolute;
  left: -10px;
  right: -10px;
  top: -50px;
  bottom: -50px;
  background-color: rgba(0,0,0,0.5);
  z-index: 1;
}
.items{
  flex: 1;
  overflow: auto;
}
.cartItem{
  border: 1px solid #f3f3f3;
  border-radius: 20px;
  overflow: hidden;
  p{
    font-size: 16px;
  }

  b{
    font-size: 14px;
  }
}

.removeBtn{
  opacity: 0.4;
  cursor: pointer;
  &:hover{
    opacity: 1;
  }
}

.cartTotalBlock{
  li{
    display: flex;
    align-items: flex-end;
  }
  div{
    flex: 1;
    height: 1px;
    border-bottom: 1px dashed #dfdfdf;
  }
  
  .greenButton{
    &:hover{
      img{
        transform:translateX(5px);
      }
    }
   img{
    position: relative;
    top: 3px;
    left: 30px;
   }
  }
}
.greenButton{
  width: 100%;
  height: 55px;
  border-radius: 20px;
  background: #9dd558;
  border: 0;
  color: white;
  font-weight: 600px;
  cursor: pointer;
}